{% extends "base.html" %}

{% block title %}Добро пожаловать в hardquestion{% endblock %}

{% block content %}
<h1>Другая страница</h1>
<p>
    {% if user is defined and user is not empty %}
<div class="user">
    <strong>{{user.id}}) {{user.name}} {{user.surname}} - {{user.date}}</strong>
</div>
{% else %}
{% if users is defined and users is not empty %}
{% for user in users %}
<div class="user">
    <strong>{{user.id}}) {{user.name}} {{user.surname}} - {{user.date}}</strong>
</div>
{% endfor %}
{% else %}
<div class="user">
    <strong>Пользователи с заданными параметрами не найдены</strong>
</div>
{% endif %}
{% endif %}
</p>
{% endblock %}
